.wishlist {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 1000;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.3);
  color: #000;
  text-align: center;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 1rem;

  @media only screen and (max-width: 1300px) {
    width: 90%;
  }
  @media only screen and (max-width: 1200px) {
    width: 75%;
  }
  @media only screen and (max-width: 1000px) {
    width: 90%;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
    height: 100vh;
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  @media only screen and (max-width: 400px) {
    padding: 0.5rem;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background: none;
    border: 1px solid var(--color-white);
    outline: none;
    cursor: pointer;

    &:hover {
      border: var(--border-details);
    }
  }

  & h2 {
    font-size: 1.8rem;
    font-weight: 100;
  }

  &__user {
    border-right: var(--border-details);
    padding: 3rem;

    @media only screen and (max-width: 800px) {
      padding: 2rem;
    }

    @media only screen and (max-width: 600px) {
      border-bottom: var(--border-details);
      border-right: 0;
    }
    @media only screen and (max-width: 400px) {
      padding: 0.5rem;
    }

    &-avatar {
      cursor: default;
      width: 10rem;
      margin: 0 auto 1rem;
      height: 10rem;
      background: var(--color-thertiary);
      color: #fff;
      border-radius: 50%;
      font-size: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .userIcon {
        color: var(--color-primary);
      }
    }

    & > h3 {
      color: var(--color-grey-4);
      margin: 0;
      font-size: 1.4rem;
    }
  }

  &__products {
    padding: 2rem;

    @media only screen and (max-width: 400px) {
      padding: 1rem;
    }
    & > h1 {
      font-size: 2rem;
      display: flex;
      color: var(--color-grey-4);
    }

    &-list {
      max-width: 72rem;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, max-content);
      justify-content: center;
      margin: 0 auto;
      justify-self: center;
      align-items: center;
      padding: 0;
      max-height: 27rem;
      overflow: auto;

      & h5 {
        font-size: 2.5rem;
        color: var(--color-grey-2);
        margin: 3rem 0 0 0;
      }

      @media only screen and (max-width: 1700px) {
        grid-template-columns: repeat(3, max-content);
      }
      @media only screen and (max-width: 1300px) {
        grid-template-columns: repeat(3, max-content);
      }
      @media only screen and (max-width: 800px) {
        max-height: 80vh;
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: repeat(2, max-content);
      }
      @media only screen and (max-width: 600px) {
        max-height: 50vh;
      }
      @media only screen and (max-width: 400px) {
        grid-template-columns: max-content;
      }
    }
  }
}
