.footer {
  grid-column: 1/-1;
  display: grid;
  border-top: 1px solid var(--color-grey-light-4);
  background-color: #fff;

  &__button {
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-grey-4);
    background: none;
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    padding: 1rem;

    &:hover {
      background-color: #e6e6e6;
    }
  }

  &-content {
    padding: 0 5rem 0 5rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 31.25em) {
      padding: 0.5rem;
    }

    &__follow {
      margin: 1rem;
      & > h5 {
        font-size: 1.6rem;
        margin: 0;
        font-weight: bold;
      }
      & > ul {
        list-style: none;
        padding: 0;

        & > li {
          margin: 1rem 0 1rem 0;
          & > a {
            color: var(--color-primary);
            text-decoration: none;
            font-size: 1.2rem;
          }
        }
      }
    }

    &__payments {
      margin: 1rem;
      & > h5 {
        font-size: 1.6rem;
        margin: 0;
        font-weight: bold;
      }
      & > ul {
        list-style: none;
        padding: 0;

        & > li {
          margin: 1rem 0 1rem 0;
          & > a {
            color: var(--color-primary);
            text-decoration: none;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  &-logo {
    text-align: center;
  }
  &-copy {
    background: var(--color-grey-4);
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;

    &__actions {
      & > a {
        cursor: pointer;
        background: none;
        text-decoration:none;
        margin: 0 1rem 0 1rem;
        outline: none;
        border: none;
        color: inherit;
      }
    }
  }
}
