.main {
  margin: 2.5rem auto;
  position: relative;
  width: 95%;
  max-width: 100%;
  display: grid;
  grid-template-rows: 30rem 35rem 40rem 35rem 40rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @media only screen and (max-width: 62.5em) {
    margin: 1rem auto;
    width: 95%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 30rem 35rem 40rem 35rem 40rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  @media only screen and (max-width: 50em) {
    margin: 3rem auto;
    width: 98%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 30rem 35rem 80rem 35rem 80rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  @media only screen and (max-width: 37.5em) {
    margin: 1rem auto;
    width: 90%;
    max-width: 100rem;
    display: grid;
    grid-template-rows: 30rem 35rem 80rem 35rem 80rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}
