.main {
  margin: 2.5rem auto;
  width: 90%;
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh 40rem 30rem 10rem 25rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @media only screen and (max-width: 62.5em) {
    margin: 1rem auto;
    width: 90%;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh 80rem 30rem 50rem 25rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  @media only screen and (max-width: 50em) {
    margin: 1rem auto;
    width: 90%;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 100vh 30rem 50rem 25rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  @media only screen and (max-width: 37.5em) {
    margin: 1rem auto;
    width: 90%;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 150vh 30rem 85rem 25rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}
