%card-placeholder {
  .card-container {
    width: 100%;
    position: relative;

    .card-backdrop {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: flex-end;
      padding: 0.5rem;
      transition: all 0.2s linear;

      & > button {
        width: 0;
        height: 0;
        font-size: 0;
        border: none;
        outline: none;
        background: rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }

    &:hover .card-backdrop {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: flex-end;
      padding: 0.5rem;

      & > button {
        margin: 0.5rem;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        outline: none;
        background: rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);

        & > a,
        a:active,
        a:visited {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
        }

        &:hover,
        &:active {
          font-size: 1.5rem;
          border: 2px solid var(--color-primary);
        }
      }
    }

    .card-image {
      width: 100%;
    }
  }

  .card-content {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: var(--border-details);

    & > h3 {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 1rem;
      font-weight: lighter;
      color: var(--color-primary);
      text-align: justify;

      &:hover {
        text-decoration: underline;
      }
    }
    .price {
      font-size: 1.6rem;
      display: block;
      font-weight: 600;
      color: var(--color-grey-2);
    }

    .discount-wrapper {
      display: flex;
      align-items: center;

      .discount-price {
        font-size: 1.1rem;
        display: block;
        text-decoration: line-through;
        color: var(--color-grey-4);
        margin-right: 0.5rem;
      }
      .discount-badge {
        background-color: var(--color-secondary);
        color: #fff;
        padding: 0.1rem;
        font-size: 1.1rem;
      }
    }
  }

  @media only screen and (max-width: 87.5em) {
    width: 15rem;
    height: 20rem;
  }
}

.card {
  width: 15rem;
  height: 25rem;
  margin: 1rem;
  background: var(--color-white);

  @extend %card-placeholder;
}

// .card-discount {
//   width: 15rem;
//   height: 25rem;
//   margin: 1rem;
//   background: var(--color-white);

//   @extend %card-placeholder;
// }
