.checkoutLoading {
  width: 100%;
  height: 100vh;
  background: var(--color-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & > img {
    width: 15rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: 75em) {
      width: 25rem;
    }
  }

  & > svg {
    font-size: 3rem;
    color: var(--color-grey-2);

    @media only screen and (max-width: 75em) {
      font-size: 5rem;
    }
  }
}
