.wrap {
  grid-column: 4/-1;
  grid-row: 1/2;
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 50em) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .bests {
    margin: 0 auto;
    border-radius: 3px;

    .bestsHeader {
      font-size: 2.5rem;
      margin: 0;
      padding: 1rem;
    }
  }

  .deals {
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px var(--color-primary);
    -moz-box-shadow: 2px 2px 5px 0px var(--color-primary);
    box-shadow: 2px 2px 5px 0px var(--color-primary);

    .dealsHeader {
      font-size: 2rem;
      margin: 0;
      padding: 1rem;
    }
  }
}

.categories-blocks {
  border: 3px solid red;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.categories {
  grid-column: 1/-1;
}

.footer {
  grid-column: 1/-1;
}
