.wrap {
  grid-column: 4/-1;
  grid-row: 1/2;
  width: 100%;
  overflow: hidden;

  @media only screen and (max-width: 50em) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .bests {
    margin: 0 auto;
    border-radius: 3px;

    .center {
      align-items: center;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;

      .back {
        position: absolute;
        left: 0;
        z-index: 10;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        background: none;
        outline: none;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .next {
        position: absolute;
        right: 0;
        z-index: 10;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        background: none;
        outline: none;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .wrapper {
      display: flex;
      grid-gap: 1em;
      overflow: hidden;
      width: 68rem;

      @media only screen and (max-width: 87.5em) {
        width: 54rem;
      }
      @media only screen and (max-width: 75em) {
        width: 52rem;
      }
      @media only screen and (max-width: 37.5em) {
        width: 35rem;
      }
      .inner {
        display: flex;
        grid-gap: 1em;
        transition: all 1s ease-in-out;
      }
    }

    .bestsHeader {
      font-size: 2.5rem;
      margin: 0;
      padding: 1rem;
    }
  }

  .deals {
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px var(--color-primary);
    -moz-box-shadow: 2px 2px 5px 0px var(--color-primary);
    box-shadow: 2px 2px 5px 0px var(--color-primary);

    .dealsHeader {
      font-size: 2rem;
      margin: 0;
      padding: 1rem;
    }
  }
}

.categories-blocks {
  border: 3px solid red;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.categories {
  grid-column: 1/-1;
}

.footer {
  grid-column: 1/-1;
}
