.products {
  background-color: var(--color-white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;

  @media only screen and (max-width: 25em) {
    margin: 0;
    border-radius: none;
    padding: 0.5rem;
  }
  &-header {
    background: var(--color-grey-4);
    color: #fff;

    & > h1 {
      font-size: 2.5rem;
      margin: 0;
      padding: 1rem;
    }
  }

  &-filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: var(--border-details);
    padding: 0.5rem;
    background: var(--color-grey-2);

    form {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 25em) {
        display: grid;
        margin: 0 auto;
        grid-template-rows: repeat(2, 1fr);
      }

      & > button {
        padding: 0.5rem 2rem;
        background: var(--color-grey-1);
        color: var(--color-white);
        border: none;
        cursor: pointer;
        font-weight: bold;

        @media only screen and (max-width: 25em) {
          padding: 0.5rem 0;
          width: 95%;
          margin-top: 1rem;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &__price {
      display: flex;
      align-items: center;
      font-size: 1rem;

      @media only screen and (max-width: 31.25em) {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, max-content);
      }
      .select-price {
        width: 10rem;
        height: 2.5rem;

        background-color: var(--color-grey-3);
      }
      .select-label {
        color: var(--color-grey-4);
        font-weight: bold;
        line-height: 1.25rem;

        @media only screen and (max-width: 75em) {
          line-height: 1rem;
        }
        @media only screen and (max-width: 25em) {
          line-height: 0.7rem;
        }
      }

      .priceDivider {
        margin-left: 1rem;
      }

      & > h5 {
        margin: 0 2rem;
        font-size: 1.2rem;
        @media only screen and (max-width: 31.25em) {
          display: none;
        }
      }

      & > section {
        margin: 0 1rem;

        & > input[type="number"] {
          width: 4rem;
          height: 2.5rem;
          border-radius: 0.3rem;
          margin: 0 0.5rem;
          border: none;
          background: var(--color-grey-3);
        }
      }
    }
  }

  &-list {
    margin: 4rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, max-content);
    column-gap: 2rem;
    row-gap: 2rem;

    @media only screen and (max-width: 100em) {
      grid-template-columns: repeat(5, max-content);
      column-gap: 3rem;
      row-gap: 4rem;
    }
    @media only screen and (max-width: 81.25em) {
      grid-template-columns: repeat(4, max-content);
    }
    @media only screen and (max-width: 75em) {
      grid-template-columns: repeat(5, max-content);
    }
    @media only screen and (max-width: 62.5em) {
      grid-template-columns: repeat(4, max-content);
    }
    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(3, max-content);
    }
    @media only screen and (max-width: 37.5em) {
      grid-template-columns: repeat(2, max-content);
    }
    @media only screen and (max-width: 25em) {
      grid-template-columns: repeat(1, max-content);
    }
  }
}
