.products {
  background-color: var(--color-white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  & > h1 {
    font-size: 2.5rem;
    color: var(--color-grey-2);
    margin: 0;
    padding: 1rem;
  }

  &-list {
    margin: 3rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, max-content);

    @media only screen and (max-width: 100em) {
      grid-template-columns: repeat(5, max-content);
    }
    @media only screen and (max-width: 81.25em) {
      grid-template-columns: repeat(4, max-content);
    }
    @media only screen and (max-width: 75em) {
      grid-template-columns: repeat(5, max-content);
    }
    @media only screen and (max-width: 62.5em) {
      grid-template-columns: repeat(4, max-content);
    }
    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(3, max-content);
    }
    @media only screen and (max-width: 37.5em) {
      grid-template-columns: repeat(2, max-content);
    }
    @media only screen and (max-width: 25em) {
      grid-template-columns: repeat(1, max-content);
    }
  }
}
