%item-placeholder {
  &:first-child {
    border-top: 1px solid #646464;
  }

  & > * {
    height: 100%;
    margin: 0;
  }

  & img {
    width: 11rem;
    height: 11rem;
    grid-row: 1/3;
    object-fit: contain;
    margin-right: 1rem;

    @media only screen and (max-width: 37.5em) {
      width: 8rem;
      height: 8rem;
    }
  }

  & .itemName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2/4;

    & h5 {
      font-size: 1.1rem;
      color: #6b6b6b;
      margin: 0 0 0.5rem 0;
    }
  }

  & .itemCounter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-column: 3/4;
    overflow: hidden;
    font-weight: bold;

    .slide {
      animation: slide 1s linear infinite;

      @keyframes slide {
        from {
          border-radius: 0;
        }
        to {
          border-radius: 10%;
          border-color: #00ff4c;
          color: #00ff4c;
          font-weight: bold;
        }
      }
    }

    & span {
      display: flex;

      & > button {
        border: none;
        color: #333;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        outline: none;
        font-size: 1.4rem;
      }
      & > span {
        border: 1px solid rgb(110, 110, 110);
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;

        @media only screen and (max-width: 75em) {
          font-size: 1rem;
        }
      }
    }

    @media only screen and (max-width: 37.5em) {
      padding: 0.5rem;
    }
  }

  .itemPrice {
    display: flex;
    font-size: 1.4rem;
    color: #6b6b6b;
    grid-column: 2/3;
    grid-row: 2/3;
    // justify-self: center;
  }

  .itemRemoveDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: -2/-1;
    grid-row: 1/-1;

    .itemRemoveButton {
      outline: none;
      cursor: pointer;
      color: #6b6b6b;
      background: none;
      border: none;
      font-size: 2rem;
      border: 1px solid var(--color-white);
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border: 1px solid var(--color-grey-2);
      }
    }
  }
}

.item {
  width: 100%;
  height: 12rem;
  border-bottom: 1px solid #646464;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: max-content repeat(2, 1fr) max-content;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  @extend %item-placeholder;
}
.item-active {
  width: 100%;
  height: 12rem;
  border-bottom: 1px solid #646464;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: max-content repeat(2, 1fr) max-content;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  opacity: 0.6;

  @extend %item-placeholder;
}
