.slider {
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-white);
  border-radius: 1rem;

  & > h3 {
    font-size: 2.5rem;
    color: var(--color-grey-2);
    margin: 0;
    padding: 1rem;
  }

  .swiper {
    width: 100rem;
    height: 30rem;

    @media only screen and (max-width: 87.5em) {
      width: 80rem;
    }
    @media only screen and (max-width: 75em) {
      width: 95rem;
    }
    @media only screen and (max-width: 62.5em) {
      width: 70rem;
    }
    @media only screen and (max-width: 50em) {
      width: 50rem;
    }
    @media only screen and (max-width: 37.5em) {
      width: 30rem;
    }
  }
}
